.card__create {
  background: white;
}

.create__form {
  background: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 1.3em;
  padding: 5px 12px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: black;
  align-self: center;
}

.create__area_question {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  border: 10px solid #ccc;
  align-self: center;
}

textarea {
  background: white;
  padding: 5;
  margin-left: 30px;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: black;
  border: 1px solid silver;
  background-image: linear-gradient(to top, white 90%);
  border-radius: 10px;
  align-self: center;
}

input {
  margin-left: 30px;
  font-size: 1.3em;
  padding: 5px 12px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: black;
  border: 1px solid silver;
  border-radius: 10px;
  align-self: center;
}
