header {
  margin: -10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    #be93c5 0%,
    #7bc6cc 51%,
    #be93c5 100%
  );
}
.title {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  padding: 20px;
  border-radius: 5%;
  border-width: 1px;
  margin-top: -5px;
}
