header {
  margin: -10px;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1;
  justify-content:center;
}
.title {
    font-family: 'Monoton', cursive; 
    font-size: 3rem;
}